@import "./index.scss";

.window {
  height: 100%;
  display: flex;
  flex-direction: column;
  .mainWindow {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  font-size: $font-size;
}

.divider {
  width: 4px;
  cursor: col-resize;
  background-color: $bg;
  border-left: 1px solid rgba($fg-main, 0.1);
  &:hover {
    width: 4px;
    background: $accent-color;
  }
}

.leftContainer, .rightContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$menuheight});
  background-color: $black; // ページがないときの背景色
  .pageTab {
    //background: $bg-elevated;    
    .tab {
      &.active {
        background: $accent-color;
        color: #fff;
      }
    }
    .addTab {
      float: right;
    }
  }
}

.innerLeftContainer, .innerRightContainer {
  display: flex;
  flex: 1; // flexで残りを埋める
  overflow: auto;
  margin: 0px;
  background-color: $bg; // ページがあるときの背景色
  width: 100%;
}