@use "colors";

$menuheight: 50px;

.window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .mainWindow {
    display: flex;
    height: calc(100vh - #{$menuheight});
  }
}

button {
  padding: 5px;
  margin-left: 5px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid colors.$basic;
  color: colors.$basic;
  &:hover {
    background-color: colors.$basic;
    color: colors.$black;
  }
}

.menuBar {
  //justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: colors.$basic;
  border-bottom: 5px solid colors.$black;
  padding: 5px;
  height: #{$menuheight};
  box-sizing: border-box;
}

.divider {
  width: 5px;
  background-color: colors.$black;
  cursor: col-resize;
}