@use "colors";

$menuheight: 50px;

.window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .mainWindow {
    display: flex;
    height: calc(100vh - #{$menuheight});
  }
}

button {
  padding: 5px;
  margin-left: 5px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid colors.$basic;
  color: colors.$basic;
  &:hover {
    background-color: colors.$basic;
    color: colors.$black;
  }
}

.menuBar {
  //justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: colors.$basic;
  border-bottom: 5px solid colors.$black;
  padding: 5px;
  height: #{$menuheight};
  box-sizing: border-box;
}

.divider {
  width: 5px;
  background-color: colors.$bg;
  cursor: col-resize;
}
.leftContainer, .rightContainer {
  // padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  background-color: colors.$black;
  .pageTab {
    margin: 10px;
    margin-bottom: 0px;
    overflow-x: auto;
    .tab {
      border: None;
      background-color: colors.$black;
      color: colors.$basic;
      padding: 10px;
      margin: 0px;
      min-width: 60px;
      &.active {
        background-color: colors.$bg;
        font-weight: bold;
      }
    }
    .addTab {
      float: right;
    }
  }
}
.innerLeftContainer, .innerRightContainer {
  margin: 10px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  background-color: colors.$bg;
}