@use "./index.scss" as *;

.rightClickMenu {
  position: absolute;
  z-index: 1000;
  width: fit-content;
  background-color: $bg;
  border: 2px solid $basic;
  padding: 8px;

  .RCMenuItem {
    list-style: none;
    cursor: pointer;
  }
}