@use "colors";

.searchFrameContainer {
  padding: 10px;
  min-height: 100vh;
  span {
    font-weight: bold;
    padding: 5px;
  }
  .searchFormContainer {
    margin-bottom: 20px;
  }
  .searchResultContainer {
    .searchResult {
      background-color: colors.$black;
      padding: 10px;
      margin: 10px;
    }
  }
}

.searchButtonContainer {
  padding: 5px;
  display: flex;
  button {
    margin: 0;
    flex: 1;
  }
  overflow-x: hidden;
  overflow-y: hidden;
}

.searchResultTag {
  // background-color: colors.$bg;
  // padding: 10px;
  height: auto;
  // border: 2px solid colors.$basic;
  display: block;
  width: calc(100% - 10px);
  overflow-x: auto;
  overflow-y: hidden;
  &:hover {
    cursor: pointer;
  }
  .id {
    color: colors.$muted;
    font-weight: bold;
    padding-right: 5px;
  }
  .entry {
    font-weight: bold;
  }
  .translations {
    font-weight: 400;
    height: 20px;
    // max-width: 100px;
  }
}